<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar">
                    <span class="icon-bar">
                        <span class="icon-bar">
                            <a class="brand" href="@Url.Action("Index","Home")">Home</a>
                        </span>
                    </span>
                </span>
            </a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="@Url.Action("Index", "Books")">Books</a></li>
                    <li><a href="@Url.Action("Index", "Authors")">Authors</a></li>
                </ul>
            </div>
            <p class="navbar-text pull-right">
                @if(User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Logout", "Account")">Logout</a>   
                }
                else
                {
                    <a href="@Url.Action("Login", "Account")">Login</a>
                }
            </p>
        </div>
    </div>
</div>