@model NewBookViewModel

<div class="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <form action="@Url.Action("New")" method="post">
                    <h1>List a New Book</h1>
                    <br />
                    <p>Title:</p>
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-input" })
                    <p>Author First Name:</p>
                    @Html.TextBoxFor(m => m.AuthorFirstName, new { @class = "form-input" })
                    <p>Author Last Name:</p>
                    @Html.TextBoxFor(m => m.AuthorLastName, new { @class = "form-input" })
                    <p>ISBN:</p>
                    @Html.TextBoxFor(m => m.Isbn, new { @class = "form-input" })
                    <p>Number of Pages:</p>
                    @Html.TextBoxFor(m => m.Pages, new { @class = "form-input" })
                    <p>Publisher Name:</p>
                    @Html.TextBoxFor(m => m.PublisherName, new { @class = "form-input" })
                    <p>Publisher City:</p>
                    @Html.TextBoxFor(m => m.PublisherCity, new { @class = "form-input" })
                    <p>Available:</p>
                    @Html.CheckBoxFor(m => m.Available, new { @class = "form-input" })
                    <br />
                    <br />
                    <input class="btn" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </div>
</div>